<header class="app-header main-layout">
    <div class="app-header-container">
        <div routerLink="" class="logo"><img src="assets/icons/bitcoin.svg">Mr.<span>BitCoin</span></div>
        <nav>
            <ul class="nav-container">
                <a routerLink=""><li><img src="assets/icons/home.svg"></li></a>
                <a routerLink="contact"><li><img src="assets/icons/contact.svg"></li></a>
                <a routerLink="statistics"><li><img src="assets/icons/statistics.svg"></li></a>
            </ul>
        </nav>
    </div>
</header>
