.contact-filter {
    padding: rem(20px);
    @include flex;
        input {
            height: rem(50px);
            width: 50%;
            border-radius: 8px;
            border: none;
            background-color: $whitesmoke;
            border-bottom: 2px solid $purple;
            transition: box-shadow 0.3s;
            padding: rem(8px);

            &:focus {
                outline: none;
                border: 2px solid $purple;
              
            }
        }
    }
