*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: roboto-regular, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  font-family: inter-bold;
  margin: 0;
  font-weight: 400;
  padding: 0;
}

h1 {
  font-family: inter-black;
}

p {
  font-weight: 400;
  margin: 0;
}

button,
a {
  cursor: pointer;
  font-family: inherit;
}

button {
  // @include title-gradiant;
  background-color: $purple;
  width: rem(150px);
  height: rem(50px);
  // color: $clr3;
  border: none;
  margin-top: rem(25px);
  border-radius: rem(12px);
  // box-shadow: 0 0 3px $clr2;
  font-size: rem(18px);
  color: $whitesmoke;
  &:hover {
    background-color: darken($purple, 5%);
  }

}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

input {
  font-family: inherit;
  text-align: inherit;
}