.purple {
    color: $purple;
    font-weight: 700;
}

.mr-2 {
    margin-right: rem(8px);
}

.mt-2 {
    margin-top: rem(8px);
}

.bold {
    font-weight: 700;
}

.mt-80 {
    margin-top: rem(80px);
} 