<section class="main-layout contact-edit">
    <div class="actions">
        <img title="Go back" (click)="onBack()" src="assets/icons/back.svg">
        <img title="Delete contact" *ngIf="contact._id" (click)="onRemoveContact(contact._id)" (click)="onBack()" src="assets/icons/delete.svg">
    </div>
    <div class="contact-edit-container">
        <span class="title">{{contact._id?'Edit':'Add'}} Contact</span>
        <form (ngSubmit)="onSaveContact()">
            <label for="name">Name:</label>
            <input [(ngModel)]="contact.name" type="text" name="name" id="name">
    
            <label for="email">Email:</label>
            <input [(ngModel)]="contact.email" type="email" name="email" id="email">
    
            <label for="phone">Phone:</label>
            <input [(ngModel)]="contact.phone" type="tel" name="phone" id="phone">
            <button class="save-btn">Save</button>
        </form>
    </div>
   
</section>

