@mixin for-mobile-layout {
    @media (max-width: $break-narrow) {
      @content;
    }
  }
  
  @mixin for-narrow-layout {
    @media (min-width: $break-narrow) {
      @content;
    }
  }
  
  @mixin for-normal-layout {
    @media (min-width: $break-normal) {
      @content;
    }
  }
  
  @mixin for-wide-layout {
    @media (min-width: $break-wide) {
      @content;
    }
  }
  
  @mixin layoutGTC($max) {
    grid-template-columns:
      minmax($layoutPadding, 1fr)
      minmax(auto, $max)
      minmax($layoutPadding, 1fr);
  }

  @mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin title-gradiant() {
  background-image: linear-gradient(to right, $purple, ($purple, rgb(99 102 241 / 25%))
  );
  &:hover {
    background-image: linear-gradient(to right, darken($purple,15%), (darken($purple,15%), rgb(99 102 241 / 25%))
    );
  }
}

